<div class="each-container">
    
    
        <p> IssueHeading : {{IssueHeading}} </p>
        <p> IssueEmail : {{IssueEmail}}</p>
        <p> IssueId : {{IssueId}} </p>
        <p> IssueDescription : {{IssueDescription}}</p>
        <p> IssueStatus : {{IssueStatus}} </p>
        <p> IssueAssignedTo : {{IssueAssigned}}</p>
        <p> IssueDate : {{IssueDate}} </p>       

    
</div>