<div class = "ticketListContainer">

    <div class="ticket">
        <div class="ticket Heading">
           {{#each infoArr}} <h2> <a href=/tickets/{{ticketId}}>  {{ticketHeading}} </a> | {{ticketStatus}} | {{ticketDate}} | {{ticketAssigned}} | {{ticketId}} </h2> {{/each}}
        </div>
    </div>



</div>